config.txt
__pycache__

# pyenv config
.python-version

# Mac OS files
.DS_Store

# Local editor settings
.vscode
.idea
.venv/

# Ignore rubric testing files
datasets/
experiments/
lesson_data/
releases/
