config.txt
__pycache__

# Ignore local Ruby config necessary for our custom AWS auth solution
.ruby-version

# pyenv config
.python-version

# Local editor settings
.vscode
.idea
.venv/

# Ignore rubric testing files
lesson_data/
